
body {
  background-color:#242331; 
  color: white;
}

.container-burger {
  text-align: center;
  margin-top: 50px;
}

.menu {
  text-align: center;
}

.inactive {
  display: none;
}


/* formulaire.html/js */
.voiture {
  display: flex;
  flex-direction: column;
  width: 50%;
}